@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="margin-top:20px;">
    <div class="jumbotron" style="background-color: rgba(41, 203, 203, 0.13)">
        <h2 class="text-info">Bem Vindo ao DSP-ES-2020-1-CMEI</h2>
        <i class="lead text-muted">Para entrar nos módulos, clique nas opções abaixo...</i>
    </div>
    <h2>
        
    </h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="panel" style="cursor:pointer;" onclick="student()">
                <div class="panel-body">
                    <h3>
                        &nbsp; Alunos
                        <span class="glyphicon glyphicon-circle-arrow-right pull-right"></span>
                    </h3>

                    <hr />
                    Importe seus alunos para o sistema e visualize cada um deles...
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel" style="cursor:pointer;" onclick="classroom()">
                <div class="panel-body">
                    <h3>
                        &nbsp; Minhas Turmas
                        <span class="glyphicon glyphicon-circle-arrow-right pull-right"></span>
                    </h3>

                    <hr />
                    Forme suas turmas através dos alunos importados, e gere os relatórios...
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel" style="cursor:pointer;" onclick="evaluateStudent()">
                <div class="panel-body">
                    <h3>
                        &nbsp; Avaliar Alunos
                        <span class="glyphicon glyphicon-circle-arrow-right pull-right"></span>
                    </h3>

                    <hr />
                    Avalie seus alunos, atribuindo notas a cada um deles...
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function student() {
        window.location.href = '../Student/ImportStudent';
    }

    function classroom() {
        window.location.href = '../Classroom/ListClassroom';
    }

    function evaluateStudent() {
        window.location.href = '../EvaluateStudent/ListEvaluateStudent';
    }
</script>