@model DSP_ES_2020_1_CMEI.Models.StudentsRoutineModel

@{
    ViewBag.Title = "StudentsRoutine";
}

<div class="jumbotron">
    <h3 class="text-info"><span class="glyphicon glyphicon-home"></span> Bem vindo ao Portal DSP-ES-2020-1-CMEI</h3>
    <i class="text-muted">Veja as publicações de hoje, e acompanhe o dia a dia do seu filho...</i>
    <hr/>

    <form>
        <div class="row">
            <div class="col-md-7">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquise um CMEI" id="txtSearch"/>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    @if (Model != null && Model.posts != null && Model.posts.Count > 0)
    {
        foreach (var post in Model.posts)
        {
            <div class="col-md-6">
                <div class="form-group">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    @if (post.imageId != null)
                                    {
                                        <img src="@Url.Action("RenderPostImage", "Post", new {@picId = post.imageId})" width="177" alt="@post.title"/>
                                    }
                                    else
                                    {
                                        <img src="~/Images/cmei1.jpg" class="img-responsive"/>
                                    }
                                </div>

                                <div class="col-md-8">
                                    <strong style="font-size:20px">@post.title</strong>
                                    <p style="margin-top:10px">
                                        @post.content
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Nenhuma publicação...</p>
    }
</div>